@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>No user personal data is gathered or stored through use of this website. 
    Any cookies are merely to ensure correct functionality.</p>
