@model ICollection<Project1.Library.Order>

<table class="table">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                Store
            </th>
            <th>
                Price
            </th>
            <th>
                Time
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => order.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => order.OrderedAt.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => order.TotalPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => order.OrderTime)
                </td>
            </tr>
        }
    </tbody>
</table>

